h1, h2, h3, h4, h5, .next-link, .prev-link {
	font-weight: normal;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	color: $blue;
}

h1 {
	font-size: $large-header-size;
	
	//at mobile sizes, reduce font size
	@include media (max-width 1100px) {
		font-size: $large-header-size * 0.8;
	}
}

h2 {
	font-size: $medlarge-header-size;
}

h3 {
	font-size: $medium-header-size;
}

h4 {
	font-size: $medsmall-header-size;
	padding: $tiny-spacing;
}

.pullquote, .goal-text {
	text-transform: none;
	letter-spacing: normal;
	padding-bottom: $small-spacing;
}

.goal-text {
	//at phone sizes, float left
	@include media(max-width 1100px) {
		@include span-columns (6 of 12);
		@include omega (2);
	}
}

.lead-sentence {
	font-size: $medlarge-header-size;
	line-height: $base-line-height / 1.5;
}

.bar {
	color: $white-font-color;
	//height: 36px;
	padding-left: $tiny-spacing;
	margin-bottom: $tiny-spacing;

	a {
		color: $white-font-color;
	}
}

.red {
	background-color: $red;
}

.blue {
	background-color: $blue;
}

.green-head {
	color: $green;
}

.red-head {
	color: $red;
}

.blue-head {
	color: $blue;
}

.white-head {
	color: $white-font-color;
}

.green {
	background-color: $green;
}

// this needs rethinking
.sector-icon-header  {
	
	h4.crumbs {
		padding-top: $base-spacing;
	}

	img {
		float: left;
		margin-right: $small-spacing;
	}
}

.u-and-lc {
	letter-spacing: 0;
	text-transform: none;
}
