h1, h2, h3, h4, h5 {
	font-weight: normal;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: $blue;
}

h1 {
	 font-size: $large-header-size;
}

h2 {
	 font-size: $medlarge-header-size;
}

h3 {
	 font-size: $medium-header-size;
}

h4 {
	 font-size: $medsmall-header-size;
}

.pullquote {
	text-transform: none;
	letter-spacing: normal;
	padding-bottom: $small-spacing;
}

.bar {
	color: $white-font-color;
	height: 36px;
	padding-left: $tiny-spacing;

	a {
		color: $white-font-color;
	}
}

.red {
	background-color: $red;
}

.blue {
	background-color: $blue;
}

.green-head {
	color: $green;
}

.red-head {
	color: $red;
}

.blue-head {
	color: $blue;
}

.white-head {
	color: $white-font-color;
}

.green {
	background-color: $green;
}

// this needs rethinking
.sector-icon-header  {
	
	h4.crumbs {
		padding-top: $base-spacing;
	}

	img {
		float: left;
		margin-right: $small-spacing;
	}
}
