.home-panel {
	color: $white-font-color;
	margin-bottom: $base-spacing;
	overflow: auto;
	padding-right: $small-spacing;
	
	h1 {
		margin-top: $tiny-spacing;
	}
	
	a {
		color: $white-font-color;
	}

	img {
		@include span-columns (6 of 12);

		@include media (1100px) {
			@include span-columns (4 of 8);
		}
	}

	p {
		@include span-columns (6 of 12);

		@include media (1100px) {
			@include span-columns (4 of 8);
		}
	}
}

.narrow-column .home-panel img, .narrow-column .home-panel p {
	@include media (1100px) {
		@include span-columns (4 of 4);
	}
}

.narrow-column .home-panel {
	padding-right: 0;
	
	@include media (1100px) {
		min-height: 515px;
	}

	p, h3 {
		padding: 0 $small-spacing 0 0;
		
		@include media (1100px) {
			padding-left: $small-spacing;
		}
	}

	h1 {
		padding-left: $tiny-spacing;
	}
}

.home-panel.green h3 {
	color: $green-tint;
}

.home-panel.red h3 {
	color: $red-tint;
}

.home-panel.blue h3 {
	color: $blue-tint;
}

//.whats-new {
//	@include span-columns (8 of 12);
//}

.whats-new img {
	@include span-columns (4 of 8);
	//float: left;
	//margin-right: $base-spacing;
	margin-bottom: $base-spacing;
}
