// for sector icons on Plan main menu
.sector-icons-grid {
  padding-top: $base-spacing;

	li.grid-item {
		margin-bottom: $base-spacing;

	  @include span-columns(2 of 4);
  	@include omega(2n);
	
		img {
			display: block;
		}
	}
}

// for recommendations/actions expanding list menu
ol.rec-menu {
  width: 100%;

  li {
    margin: $tiny-spacing 0;
  }

  .expander-trigger {
    border: 1px dotted $red;
    color: $base-font-color;
    cursor: pointer;
    display: block;
    padding: $small-spacing;
    text-decoration: none;
    user-select: none;

    &::before {
      //down pointing arrow
      content: "\25BC";
      font-size: $base-font-size;
      margin-right: 0.5em;
    }
  }

  .expander-trigger:not(.expander-hidden) {
     background-color: $red;
     color: white;
  }

  .expander-content li {
    background-color: white;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: $small-spacing $large-spacing;

    &:nth-child(even) {
      background-color: $light-gray;
    }

    a {
     color: $base-font-color;      
    }
  }

  .expander-hidden {
    &::before {
      //right pointing arrow
      content: "\25BA";
      font-size: $base-font-size;
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}

.plain-hidden {
  display: none;
}

ol.expander-content li.action-head {
  background-color: $blue;
  color: white;
  font-size: $large-font-size;
  letter-spacing: 0.2em;
  padding: 0 $base-spacing;
  text-transform: uppercase;
}

// for list of goals with big numbers
ol.goals-list {
  margin: $small-spacing null null 0;
}

ol.goals-list > li {
  counter-increment: customlistcounter;
  clear: left;
  margin-bottom: $base-spacing;
  
  a {
		color: $base-font-color;
		font-size: $base-font-size;
  	text-decoration: underline;
	}
}

ol.goals-list > li:before {
  content: counter(customlistcounter) " ";
  color: $green;
  font-size: $large-font-size * 2;
  float: left;
  margin-top: -10px;
  width: 0.75em;
}

ol.goals-list:first-child {
  counter-reset: customlistcounter;
}

// for story menu
.story-menu li {
  
  margin-bottom: $small-spacing;

  a img {
    border: $base-border;
    margin-right: $small-spacing;
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
  }      
}

// for project menu
.project-menu {

  li {
    margin-bottom: $base-spacing;

    a {
      font-weight: bold;
      display: block;
    }
  }
}

// for story page
.related-actions {
  margin-top: $small-spacing;

  li {
    margin-bottom: $small-spacing;
  }
}
