.news {
	margin-bottom: $large-spacing;
}

.read-more {
	padding-right: $base-spacing;
	text-align: right;
}

.date {
  color: $medium-gray;
  margin: 0;
}

//for organizations table
.organizations {

	td.title {
		font-weight: bold;
		width: 35%;
	}

	td.location, td.phone {
		width: 15%;
	}

	td.blurb {
		width: 35%;
	}
}

.from-wysiwyg {
	
	ul {
		list-style-type: disc;
		padding-left: $large-spacing;
	}

	ol {
		list-style-type: decimal;
		padding-left: $large-spacing;
	}
}
