// for search results paging - taken from Mystic, needs refactoring
#paging {

}

.previous {
  @include span-columns(2 8);
}

.page-numbers {
  @include span-columns(4 8);
  text-align: center;
}

.next {
  @include span-columns(2 8);
  text-align: right;
}

.page-nav, .page-nav--disabled, .page-nav--selected {
  display: inline;
}

.page-nav, .page-nav--selected {
  border: 1px solid $light-gray;
  margin-right: $tiny-spacing;
  padding: 0 0 0 4px;

  &:hover a {
    background-color: $blue;
    color: $white-font-color;
    text-decoration: none;
  }
}

.next-link, .prev-link {
  border: none;

  &:hover a {
    text-decoration: none;
  }
}

.page-nav--selected {
  background-color: $blue;
  border: 1px solid $light-gray;
  color: $white-font-color;
  padding-right: $tiny-spacing;
}

.page-nav--disabled {
  color: $medium-gray;
}
