.pic-caption {
	background-color: $green;
	color: $white-font-color;
	font-size: $small-font-size;
	
	p {
		padding: $small-spacing;
	}
}

.story-sidebar {
	color: $white-font-color;
	padding: $small-spacing;
	margin-bottom: $base-spacing;

	h3 {
		color: $white-font-color;
	}
}

.story-sidebar.blue {
	h2, a {
		color: $blue-tint;
	}
}

.caption {
	font-size: $small-font-size;
}
