.pic-caption {
	background-color: $green;
	color: $white-font-color;
	font-size: $small-font-size;
	
	p {
		padding: $small-spacing;
	}
}

.story-sidebar.blue {
	h2, h3, a {
		color: $blue-tint;
	}
}

.story-sidebar {
	color: $white-font-color;
	padding: $small-spacing;
	margin-bottom: $base-spacing;

	// for story panel on home page
	h1 a {
		color: white !important;
	}

	img {
		//margin-left: -($small-spacing);
	}
}

.caption {
	font-size: $small-font-size;
}
