#paging {
  font-weight: 400; }
  @media screen and (min-width: 590px) and (max-width: 1088px) {
    #paging {
      font-size: 0.8em; } }

.previous {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%; }
  .previous:last-child {
    margin-right: 0; }

.page-numbers {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  text-align: center; }
  .page-numbers:last-child {
    margin-right: 0; }

.next {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
  text-align: right; }
  .next:last-child {
    margin-right: 0; }

.page-nav, .page-nav--disabled, .page-nav--selected {
  display: inline; }

.page-nav, .page-nav--selected {
  border: thin solid #dee3e7;
  margin-right: 0.5em;
  padding: 0 0 0 4px; }
  .page-nav:hover, .page-nav--selected:hover {
    background-color: #dee3e7; }
