article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* action text, 24pt */
/* body copy, 16pt */
/* captions, 14pt */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #0380CC;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #0266a3;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #0380CC; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "futura-pt", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: white;
  border: 1px solid #ADADAD;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #8a8a8a; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #0380CC;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(3, 112, 179, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ADADAD; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.project-list, .resource-list {
  list-style-type: disc;
  margin-left: 1.5em; }
  .project-list li, .resource-list li {
    margin-bottom: 1.5em; }

.tags-list, .related-actions-list {
  padding-bottom: 1.5em; }

.footnotes {
  color: #ADADAD;
  font-size: 0.8em;
  list-style-type: decimal;
  padding-left: 1.5em; }
  .footnotes li {
    padding-bottom: 0.375em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #828282;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ADADAD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #545454;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0; }

p, ul {
  font-size: 1.15em;
  margin: 0 0 1.5em 0; }

a {
  color: #0380CC;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #026099;
    text-decoration: underline; }

hr {
  border-bottom: 1px solid #ADADAD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

body {
  background-color: #0380CC; }

.page-wrapper {
  background-color: white;
  padding: 1.5em 3em 6em 3em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .page-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.row {
  float: left;
  display: block;
  margin-right: 4.34783%;
  width: 100%;
  margin-top: 1.5em;
  padding-bottom: 1.5em; }
  .row:last-child {
    margin-right: 0; }

.wide-column {
  float: left;
  display: block;
  margin-right: 4.34783%;
  width: 100%; }
  @media screen and (min-width: 640px) {
    .wide-column {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 65.21739%; }
      .wide-column:last-child {
        margin-right: 0; } }
  .wide-column:last-child {
    margin-right: 0; }

.narrow-column {
  float: left;
  display: block;
  margin-right: 4.34783%;
  width: 100%; }
  @media screen and (min-width: 640px) {
    .narrow-column {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 30.43478%; }
      .narrow-column:last-child {
        margin-right: 0; } }
  .narrow-column:last-child {
    margin-right: 0; }

.sub-column {
  margin-top: -1.5em;
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 46.66667%; }
  .sub-column:last-child {
    margin-right: 0; }
  .sub-column:nth-child(2) {
    margin-right: 0; }

.shift-right {
  margin-left: 34.78261%; }

.banner {
  background-color: white;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .banner::after {
    clear: both;
    content: "";
    display: table; }

.top-nav-wrapper {
  background-color: #869C3B;
  text-align: center; }

.top-nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase; }
  .top-nav::after {
    clear: both;
    content: "";
    display: table; }
  .top-nav ul.top-nav-menu {
    color: #b6ca73;
    font-size: 1em;
    margin-bottom: 0;
    padding: 0.75em; }
    .top-nav ul.top-nav-menu li {
      border-right: 1px solid #b6ca73;
      display: inline-block; }
      .top-nav ul.top-nav-menu li.selected a {
        background-color: #b6ca73;
        color: #C34619;
        margin-left: -4px; }
      .top-nav ul.top-nav-menu li a {
        color: #FFF;
        letter-spacing: 0.25em;
        padding: 0.75em 1.5em; }
      .top-nav ul.top-nav-menu li a:hover {
        color: #C34619;
        text-decoration: underline; }

.title-area {
  min-height: 120px; }

footer {
  background-color: #C34619;
  color: #FFF; }

.footer-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }
  .footer-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.footer-social--item {
  display: inline-block;
  font-family: icomoon;
  font-size: 3em;
  margin: 0.375em; }
  .footer-social--item a:link, .footer-social--item a:visited {
    color: #ea7f58; }
  .footer-social--item a:hover {
    color: white;
    text-decoration: none; }

h1, h2, h3, h4, h5, .next-link, .prev-link {
  font-weight: normal;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  color: #0380CC; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em;
  padding: 0.375em; }

.pullquote {
  text-transform: none;
  letter-spacing: normal;
  padding-bottom: 0.75em; }

.lead-sentence {
  font-size: 1.75em; }

.bar {
  color: #FFF;
  padding-left: 0.375em;
  margin-bottom: 0.375em; }
  .bar a {
    color: #FFF; }

.red {
  background-color: #C34619; }

.blue {
  background-color: #0380CC; }

.green-head {
  color: #869C3B; }

.red-head {
  color: #C34619; }

.blue-head {
  color: #0380CC; }

.white-head {
  color: #FFF; }

.green {
  background-color: #869C3B; }

.sector-icon-header h4.crumbs {
  padding-top: 1.5em; }
.sector-icon-header img {
  float: left;
  margin-right: 0.75em; }

.u-and-lc {
  letter-spacing: 0;
  text-transform: none; }

.home-panel {
  color: #FFF;
  margin-bottom: 1.5em;
  overflow: auto;
  padding-right: 0.75em; }
  .home-panel a {
    color: #FFF; }
  .home-panel img {
    float: left;
    margin-right: 0.375em;
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 46.66667%; }
    .home-panel img:last-child {
      margin-right: 0; }

.home-panel.green h3 {
  color: #b6ca73; }

.home-panel.red h3 {
  color: #ea7f58; }

.home-panel.blue h3 {
  color: #9dd9fe; }

.whats-new img {
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 46.66667%;
  float: left;
  margin-right: 1.5em; }
  .whats-new img:last-child {
    margin-right: 0; }

.sector-icons-grid {
  padding-top: 1.5em; }
  .sector-icons-grid li.grid-item {
    margin-bottom: 1.5em;
    float: left;
    display: block;
    margin-right: 14.28571%;
    width: 42.85714%; }
    .sector-icons-grid li.grid-item:last-child {
      margin-right: 0; }
    .sector-icons-grid li.grid-item:nth-child(2n) {
      margin-right: 0; }
    .sector-icons-grid li.grid-item:nth-child(2n+1) {
      clear: left; }
    .sector-icons-grid li.grid-item img {
      display: block; }

ol.rec-menu {
  width: 100%; }
  ol.rec-menu li {
    margin: 0.375em 0; }
  ol.rec-menu .expander-trigger {
    border: 1px dotted #C34619;
    color: #545454;
    cursor: pointer;
    display: block;
    padding: 0.75em;
    text-decoration: none;
    user-select: none; }
    ol.rec-menu .expander-trigger::before {
      content: "\25BC";
      font-size: 1em;
      margin-right: 0.5em; }
  ol.rec-menu .expander-trigger:not(.expander-hidden) {
    background-color: #C34619;
    color: white; }
  ol.rec-menu .expander-content li {
    background-color: white;
    font-size: 0.9em;
    line-height: 1.5;
    padding: 0.75em 3em; }
    ol.rec-menu .expander-content li:nth-child(even) {
      background-color: #ECECEC; }
    ol.rec-menu .expander-content li a {
      color: #545454; }
  ol.rec-menu .expander-hidden::before {
    content: "\25BA";
    font-size: 1em; }
  ol.rec-menu .expander-hidden + .expander-content {
    display: none; }

.plain-hidden {
  display: none; }

ol.expander-content li.action-head {
  background-color: #0380CC;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  padding: 0 1.5em;
  text-transform: uppercase; }

ol.goals-list {
  margin: 0.75em 0; }

ol.goals-list > li {
  counter-increment: customlistcounter;
  clear: left;
  margin-bottom: 1.5em; }
  ol.goals-list > li a {
    color: #545454;
    font-size: 1em;
    text-decoration: underline; }

ol.goals-list > li:before {
  content: counter(customlistcounter) " ";
  color: #869C3B;
  font-size: 3em;
  float: left;
  margin-top: -10px;
  width: 0.75em; }

ol.goals-list:first-child {
  counter-reset: customlistcounter; }

.story-menu li {
  margin-bottom: 0.75em; }
  .story-menu li a img {
    border: 1px solid #ADADAD;
    margin-right: 0.75em;
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle; }

.project-menu li {
  margin-bottom: 1.5em; }
  .project-menu li a {
    font-weight: bold;
    display: block; }

.related-actions {
  margin-top: 0.75em; }
  .related-actions li {
    margin-bottom: 0.75em; }

.news {
  margin-bottom: 3em; }

.read-more {
  padding-right: 1.5em;
  text-align: right; }

.date {
  color: #ADADAD;
  margin: 0; }

.previous {
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 20%; }
  .previous:last-child {
    margin-right: 0; }

.page-numbers {
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 46.66667%;
  text-align: center; }
  .page-numbers:last-child {
    margin-right: 0; }

.next {
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 20%;
  text-align: right; }
  .next:last-child {
    margin-right: 0; }

.page-nav, .page-nav--disabled, .page-nav--selected {
  display: inline; }

.page-nav, .page-nav--selected {
  border: 1px solid #ECECEC;
  margin-right: 0.375em;
  padding: 0 0 0 4px; }
  .page-nav:hover a, .page-nav--selected:hover a {
    background-color: #0380CC;
    color: #FFF;
    text-decoration: none; }

.next-link, .prev-link {
  border: none; }
  .next-link:hover a, .prev-link:hover a {
    text-decoration: none; }

.page-nav--selected {
  background-color: #0380CC;
  border: 1px solid #ECECEC;
  color: #FFF;
  padding-right: 0.375em; }

.page-nav--disabled {
  color: #ADADAD; }

.pic-caption {
  background-color: #869C3B;
  color: #FFF;
  font-size: 0.8em; }
  .pic-caption p {
    padding: 0.75em; }

.story-sidebar {
  color: #FFF;
  padding: 0.75em;
  margin-bottom: 1.5em; }
  .story-sidebar img {
    margin-left: -0.75em;
    width: 100%; }

.story-sidebar.blue h2, .story-sidebar.blue h3, .story-sidebar.blue a {
  color: #9dd9fe; }

.search-controls ul li label {
  font-weight: normal;
  font-size: 0.9em; }

input.search-field {
  display: inline;
  height: 40px;
  margin-right: 0.375em;
  width: 75%; }

input.search-go {
  display: inline;
  height: 40px;
  margin-top: -2px;
  width: 20%; }

.search-results {
  margin-top: 0.75em; }
  .search-results li {
    margin-bottom: 1.5em; }
    .search-results li a {
      font-weight: bold; }

.show-more {
  border: 1px solid #ADADAD;
  border-radius: 3px;
  margin-bottom: 0.75em;
  padding: 0.375em; }

/*# sourceMappingURL=mfsc-styles.css.map */
