{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} News - {{ object.title }}{% endblock %}

{% block title_area %}
  <h4 class="crumbs"><a href="{% url 'news:newsitem_list' %}">News</a></h4>
  <p class="date">&nbsp;{{ object.posted|date:"F d, Y" }}</p>
  <h1>{{ object.title }}</h1>
{% endblock title_area %}

{% block content_area %}

  <div class="narrow-column">

    {% if newsitem.news_image %}
      <div class="pic-caption">
        <img src="{{ object.news_image.url }}">
        <p>{{ object.credit|safe }} </p>
      </div>
    {% else %}
      <div>
        <p>&nbsp;</p>
      </div>
    {% endif %}

  </div><!--/narrow-column-->

  <div class="wide-column">

    <div class="from-wysiwyg">
      {{ object.body_text|safe }}     
    </div>

    {% if object.get_prev %}
      <p class="news-newer">&lang; Newer:<br/> 
        <a href="{% url 'news:newsitem_detail' object.get_prev.slug %}">{{ object.get_prev.title|safe }}</a>
      </p>
    {% endif %}

    {% if object.get_next %}
      <p class="news-older">Older &rang;<br/>
        <a href="{% url 'news:newsitem_detail' object.get_next.slug %}">{{ object.get_next.title|safe }}</a>
      </p>
    {% endif %}


  </div><!--/wide-column-->

{% endblock content_area %}
