{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC News{% endblock %}

{% block title_area %}
  <h1>News</h1>
{% endblock title_area %}

{% block content_area %}

<div class="narrow-column">

  {% block news_head %}
    <h2 class="bar blue">
      Current Posts
    </h2>
  {% endblock %}

  <dl class="past-news">
  {% for newsitem in object_list %}
    <dt><a href="#{{ newsitem.slug }}">{{ newsitem.title|safe }}</a></dt>
    <dd class="date">{{ newsitem.posted|date:"F d, Y" }}</dd>
  {% endfor %}
  </dl>

  {% block news_link %}
    <h2 class="bar green">
      <a href="{% url 'news:news_archive_list' %}">View News Archive</a>
    </h2>
  {% endblock news_link %}

</div><!--/narrow-column-->

<div class="wide-column">

	{% for newsitem in object_list %}
  <article class="news" id="{{ newsitem.slug }}">
    <p class="date">{{ newsitem.posted|date:"F d, Y" }}</p>
    <h1 class="pullquote">{{ newsitem.title|safe }}</h1>
    {% if newsitem.news_image %}

      <div class="pic-caption"><img src="{{ newsitem.news_image.url }}"><p>{{ newsitem.credit|safe }} </p></div>

    {% endif %}
    {{ newsitem.body_text|safe }}
  </article>

 {% endfor %}

</div><!--/wide-column-->

{% endblock content_area %}
