# extensions
*.pyc
*.log
*.jpg
*.png
*.gif

# files
.DS_Store

# directories
**/.sass-cache
**/.sass-cache/*
static/
media/
mfsc/local_static/images
mfsc/local_static/js/images
mfsc/local_static/design/images
mfsc/local_static/design/plan/images
