{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC - About{% endblock %}

{% block title_area %}
  <h1>About the Collaborative</h1>
{% endblock title_area %}

{% block content_area %}

<div class="narrow-column">

  <h2 class="bar red">Contact Us</h2>
  <p>If you’d like to be kept informed about the Collaborative’s activities, email <a href="mailto: winton@mafoodsystem.org" target="_top">Director Winton Pitcoff</a>.</p>

</div>

  <div class="wide-column">
	  <div class="from-wysiwyg">
	    {{ object.body_text|safe }}	  	
	  </div>

  </div><!--/wide-column-->

{% endblock content_area %}
