{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Organizations{% endblock %}

{% block title_area %}
      <h1>Resources</h1>
      <h2 class="pullquote">The people who make up our food systems.</h2>
{% endblock title_area %}

{% block content_area %}

    <div class="narrow-column">

      <h2 class="bar green">Organizations</h2>

    </div><!--/narrow-column-->

    <div class="wide-column">

      <ul class="story-menu"> 
			  {% for object in object_list %}
          <li><a href="{{ object.link_url }}">{{ object.name|safe }}</a> - 
          {{ object.town }} - {{ object.phone }}<br/>
          {{ object.description|safe }}
            
          </li>
        {% endfor %}
      </ul>

    </div><!--/wide-column-->

{% endblock content_area %}
