{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Organizations{% endblock %}

{% block title_area %}
  <h4 class="crumbs"><a href="{% url 'resources:resource_list' %}">Resources</a></h4>
      <h1>Massachusetts Organizations</h1>
{% endblock title_area %}

{% block content_area %}

<div class="row">
  <table class="organizations">
  {% for object in object_list %}
    <tr>
      <td class="title"><a href="{{ object.link_url }}" target="orgainization">{{ object.name|safe }}</a></td>
      <td class="location">{{ object.town }}</td>
      <td class="phone">{{ object.phone }}</td>
      <td class="blurb">{{ object.description|safe }}</td>
    </tr>

  {% endfor %}    
  </table>

</div><!--/row -->

{% endblock content_area %}
