{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} Resources - {{ object.title }}{% endblock %}

{% block title_area %}
  <h4 class="crumbs"><a href="{% url 'resources:resourcehome_detail' 'home' %}">Resources</a></h4>
  <h1>{{ object.title }}</h1>
{% endblock title_area %}

{% block content_area %}

  <div class="wide-column">

	  <div class="from-wysiwyg">
	    {{ object.body_text|safe }}	  	
	  </div>

    {{ object.plain_text|safe }}	  	
  

  </div><!--/wide-column-->

{% endblock content_area %}
