.banner {
  background-color: white;
  text-align: center; 
  @include outer-container;

  img {
  }	
}

.top-nav-wrapper {
  background-color: $main-nav-color; 
  text-align: center; 
}

.top-nav {
  @include outer-container;

  //border-bottom: 1px solid darken($main-nav-color, 0.10);
	//height: 3em;
	text-transform: uppercase;

  ul.top-nav-menu {
		color: $green-tint;
		padding: $small-spacing;

		li {
			border-right: 1px solid $green-tint;
			display: inline-block;

			&.selected {

  			a {
  			background-color: $green-tint;
				color: $red;
				margin-left: -4px;
				}
			}

			a {
				color: $white-font-color;
				letter-spacing: 0.25em;
				padding: $small-spacing $base-spacing;
			}

			a:hover {
				color: $red;
				text-decoration: underline;
			}
		}
	}	
}

// to ensure consistant height when titles vary
.title-area {
	min-height: 120px;
}
