body {
	background-color: $blue;
}

.page-wrapper {
	background-color: $base-background-color;
  padding: $base-spacing $large-spacing $xlarge-spacing $large-spacing;

	@include outer-container();
}

.row {
	@include span-columns(12);
	
	margin-top: $base-spacing;
	padding-bottom: $base-spacing;
}

.wide-column {
 	@include span-columns (12);

	// when screen is larger than 860rem
  @include media(1100px) {
    @include span-columns(8 of 12);
 	}
}

.narrow-column {
 	@include span-columns (12);

	// when screen is larger than 860rem
  @include media(1100px) {
    @include span-columns(4 of 12);
 	}
}

.sub-column {
	// counteracts row top margin to avoid double margins
	margin-top: -$base-spacing;

	@include span-columns(4 of 8);
	@include omega (2);
}

.shift-right {
	@include shift(4 of 12);
}
