.banner {
  background-color: white;
 	position: relative;
  text-align: center; 
  @include outer-container;

//not sure I need the following two lines
  @include clearfix;
  z-index: 999;

  img.fish {
 		position: absolute;
  	top: 80px;
  	right: -40px;
  }	
}

// the MENU link that displays at mobile sizes
.top-navigation-mobile-menu {
  color: $green-tint;
  display: block;
  float: right;
  line-height: $base-line-height;
  margin: 0;
  padding-right: $small-spacing;
  text-decoration: none;
  text-transform: uppercase;

  // don't show at large screen sizes
  @include media ($large-screen) {
    display: none;
  }

  &:focus,
  &:hover {
    color: $red;
  }
}

.top-nav-wrapper {
  background-color: $main-nav-color; 
  text-align: center; 
}

.top-nav {
  @include outer-container;

  //border-bottom: 1px solid darken($main-nav-color, 0.10);
	//height: 3em;
	text-transform: uppercase;
}

ul.top-nav-menu {
	color: $green-tint;
  -webkit-transform-style: preserve-3d; // stop webkit flicker
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 99999;
	//font-size: $base-font-size;
	//margin-bottom: 0;
	//padding: $small-spacing;

  &.show {
    display: block;
  }

  @include media ($large-screen) {
    display: block;
    text-align: center;
  }

  li {
		border-right: 1px solid $green-tint;
		display: inline-block;

		&.selected a {
			background-color: $green-tint;
			color: $red;
			margin-left: -4px;
		}
	}

	a {
		color: $white-font-color;
		letter-spacing: 0.25em;
		padding: $small-spacing $base-spacing;
	}

	a:hover {
		color: $red;
		text-decoration: underline;
	}
}
