body {
	background-color: $blue;
}

.page-wrapper {
	background-color: $base-background-color;
  padding: $base-spacing $large-spacing $xlarge-spacing $large-spacing;

	@include outer-container();
}

.row {
	@include span-columns(12);
	
	margin-top: $base-spacing;
	padding-bottom: $base-spacing;
}

.wide-column {
//	border: 1px solid green;
	
	// when screen is greater than or equal to 640
  @include media(640px) {
    @include span-columns(8 of 12);
 }

	// when screen is less than 640
 	@include span-columns (12);
}

.narrow-column {
//	border: 1px solid pink;

	// when screen is greater than or equal to 640
  @include media(640px) {
    @include span-columns(4 of 12);
  }

	// when screen is less than 640
  @include span-columns (12);
}

.sub-column {
	// counteracts row top margin to avoid double margins
	margin-top: -$base-spacing;

	@include span-columns(4 of 8);
	@include omega (2);
}
