{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} Stories{% endblock %}

{% block title_area %}
      <h1>Stories</h1>
      <h2 class="pullquote">The people who make up our food system.</h2>
{% endblock title_area %}

{% block content_area %}

    <div class="narrow-column">

      <h2 class="bar green">About Stories</h2>
      {{ object_list.0.menu.menu_blurb|safe }}

    </div><!--/narrow-column-->

    <div class="wide-column">

      <ul class="story-menu"> 
			  {% for object in object_list %}
          <li>
            <a href="{% url 'stories:story_detail' object.slug %}">
              <img src="{% static 'stories/menupics/' %}{{ object.slug }}.jpg">{{ object.title|safe }}
            </a>
          </li>
        {% endfor %}
      </ul>

    </div><!--/wide-column-->

{% endblock content_area %}
