{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Stories - {{ object.title }}{% endblock %}

{% block title_area %}
  <h4 class="crumbs"><a href="{% url 'stories:story_list' %}">Stories</a></h4>
  <h1>{{ object.title }}</h1>
{% endblock title_area %}

{% block content_area %}

  <div class="narrow-column">

    <div class="pic-caption">
      <img src="{% static 'stories/fullpics/' %}Page{{ object.slug }}.jpg">
      <p>Image courtesy of {{ object.credit|safe }} </p>

    </div>

  </div><!--/narrow-column-->

  <div class="wide-column">

    <p>{{ object.body_text|safe }}</p>

    <h4 class="crumbs">Related Actions</h4>
    <ul>
    {% for action in object.actions.all %}
      <li>
        <a href="{% url 'plan:action_detail' action.id %}">
          {{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }} 
          {{ action.medium_description|safe }}
        </a>
      </li>
    {% endfor %} {# end action list #}
    </ul>

  </div><!--/wide-column-->

{% endblock content_area %}
