{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} Projects{% endblock %}

{% block title_area %}
      <h1>Projects</h1>
      <h2 class="pullquote">Current Initiatives of the Collaborative</h2>
{% endblock title_area %}

{% block content_area %}

    <div class="narrow-column">

      <h2 class="bar green">About Projects</h2>
      {{ object_list.0.menu.menu_blurb|safe }}

    </div><!--/narrow-column-->

    <div class="wide-column">

      <ul class="project-menu"> 
			  {% for object in object_list %}
          <li>
            <a href="{% url 'projects:project_detail' object.slug %}">{{ object.title|safe }}</a>
            <span class="menu-blurb">{{ object.menu_blurb|safe }}</span>
          </li>
        {% endfor %}
      </ul>

    </div><!--/wide-column-->

{% endblock content_area %}
