<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{% block title %}MFSC{% endblock %}</title>

	{% block stylesheets %}
    <!-- <link rel="stylesheet" href="{% static 'css/temp_pop.css' %}" type="text/css"/> -->
  {% endblock stylesheets %}

  {% block javascript %}
  {% endblock javascript %}

</head>

<body>
{% block full_page %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content_area %}
  content goes here
{% endblock content_area %}

{% endblock full_page %}

</body>
</html>
