{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC{% endblock %}


{% block full_page %}

<div class="wide-column">

	<img src="{% static 'images/apples.jpg' %}">
	
	<div class="whats-new">
		<h2 class="bar green">What's New</h2>
		<img src="{% static 'images/fishing.jpg' %}">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div><!--/whats-new-->

</div><!--/wide-column-->

<div class="narrow-column">

	<h2 class="bar red">News</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<h2 class="bar blue"><a href="{% url 'resources:resource_list' %}">Resources</a></h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<h2 class="bar green">About Us</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

</div><!--/narrow-column-->

{% endblock full_page %}
