ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

// My Lists
.project-list, .resource-list {
  list-style-type: disc;
  margin-left: $base-spacing;

  li {
    margin-bottom: $base-spacing;
  }
}

.tags-list, .related-actions-list {
  padding-bottom: $base-spacing;
}

.footnotes {
  color: $medium-gray;
  font-size: $small-font-size;
  list-style-type: decimal;
  padding-left: $base-spacing;

  li {
    padding-bottom: $tiny-spacing;
  }
}
