// Breakpoints
$medium-screen: em(640) !default;
$large-screen: em(860) !default;

// Typography
$base-font-family: $futura;
$heading-font-family: $futura;

// Colors
$blue: #0380CC;
$blue-tint: lighten( $blue, 40%);
$green: #869C3B;
$green-tint: lighten( $green, 20% );
$red: #C34619;
$red-tint: lighten( $red, 20%);
$brown: #79543C;
$dark-gray: #545454;
$medium-gray: #999;
$light-gray: #ECECEC;
$action-color: $blue;

// Font Colors
$base-font-color: $dark-gray;
$blue-font-color: $blue;
$red-font-color: $red;
$green-font-color: $green;
$white-font-color: #FFF;

// Font Sizes - body copy
$large-font-size: 1.5em;		/* action text, 24pt */
$base-font-size: 1em;				/* body copy, 16pt */
$smallish-font-size: 0.9em;	
$small-font-size: 0.8em;		/* captions, 14pt */

// Font Sizes - headings
$large-header-size: 2.5em;
$medlarge-header-size: 1.75em;
$medium-header-size: 1.25em;
$medsmall-header-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $base-spacing / 4;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $base-spacing * 4;

// Background Colors
$main-nav-color: $green;
$footer-color: $red;
$base-background-color: white;
$body-background-color: $blue;

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

