{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - Action {{ object.rec.goal.goal_num }}.{{ object.rec.rec_num }}.{{ object.action_num }}{% endblock %}

{% block title_area %}
  <div class="sector-icon-header">
    <img src="{% static 'plan/icons/' %}sector-icon-{{ object.rec.goal.sector.slug }}.png">
    <h4 class="crumbs"><a href="{% url 'plan:sector_list' %}">The Plan</a> &rarr; 
    <a href="{% url 'plan:sector_detail' object.rec.goal.sector.slug %}">Sector &rarr; 
    <a href="{% url 'plan:goal_detail' object.rec.goal.id %}">Goals &amp; Recommendations</a>
    </h4>
    <h1>{{ object.rec.goal.sector.title }}</h1>
  </div>
{% endblock title_area %}

{% block content_area %}

<div class="row">

  <div class="wide-column">

    <h4 class="green bar"><a href="{% url 'plan:goal_detail' object.rec.goal.id %}">Goal {{ object.rec.goal.goal_num }}: 
    <span class="u-and-lc">{{ object.rec.goal.short_description }}</span></a></h4>

    <h4 class="red bar"><a href="{% url 'plan:goal_detail' object.rec.goal.id %}#recommendations">Recommendation {{ object.rec.goal.goal_num }}.{{ object.rec.rec_num }}: 
    <span class="u-and-lc">{{ object.rec.short_description }}</span></a></h4>

    <h2 class="blue bar">Action {{ object.rec.goal.goal_num }}.{{ object.rec.rec_num }}.{{ object.action_num }}</h2>
    <p>{{ object.description }}</p>

    <div class="row">

      <div class="sub-column">
        {% if object.background %}
          <h2 class="blue-head">Background</h2>
          {{ object.background|safe }}
        {% endif %}

        {% if object.progress %}
          <h2 class="blue-head">Progress</h2>
          {{ object.progress|safe }}
        {% endif %}

        {% if object.metrics %}
          <h2 class="blue-head">Metrics</h2>
          {{ object.metrics|safe }}
        {% endif %}

        {% if object.organizations.all %}
          <h2 class="blue-head">Organizations</h2>
          <ul>
          {% for organization in object.organizations.all %}
            <li><a href="{{ organization.link_url }}" target="orgainization">{{ organization.name|safe }}</a> - 
            {{ organization.town }} - {{ organization.phone }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        
        </div><!--/sub-column-->

        <div class="sub-column">
        {% if object.actions.all %}
          <h2 class="blue-head">Related Actions</h2>
          <ul class="related-actions-list">
          {% for action in object.actions.all %}
            <li><a href="{% url 'plan:action_detail' action.id %}">{{ action }}</a></li>
          {% endfor %}
          </ul>                       
        {% endif %}

        {% if object.tags.all %}
          <h2 class="blue-head">Tags</h2>
          <ul class="tags-list">
          {% for tag in object.tags.all %}
            <li><a href="{% url 'plan:search_list' %}?q=&tags={{ tag.slug }}">{{ tag.title }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

      </div><!--/sub-column-->
    </div><!--/row-->
  </div><!--/wide-column-->

  <div class="narrow-column">

    {% if object.story_set.all %}
      {% for story in object.story_set.all %}
        <div class="story-sidebar blue">
          <h3>Story</h3>
          <h3 class="pullquote">{{ story.title|safe }}</h3>

          <img src="images/grain-silo.jpg">
          
          {{ story.body_text|safe }}

          <p>Related Actions: <a href="">Land 1.4</a>, <a href="">Land 1.5</a>, <a href="">Farming 3.1.2</a></p>
        </div> <!-- /sidebar -->
      {% endfor %}
    {% endif %}
  </div><!--/narrow-column-->

</div><!--/row-->



{% endblock content_area %}
