{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - {{ object.sector.title }} Goal {{ object.goal_num }}{% endblock %}

{% block breadcrumbs %}
<a href="/plan/">Plan</a> |
<a href="{% url 'plan:sector_detail' object.sector.slug %}">{{ object.sector.title }}</a> 
{% endblock breadcrumbs %}

{% block content_area %}
  <h1>{{ object.sector.title }} Goal {{ object.goal_num }} </h1>
  <h4>{{ object.description }} </h4>

  {{ object.body_text|safe }}


  <h3>Recommendations:</h3>
  <ul>
  {% for rec in object.rec_list %}
    <li>
      <a href="{% url 'plan:rec_detail' rec.id %}">
      {{ rec.goal.goal_num }}.{{ rec.rec_num }}</a> {{ rec.description|safe }}
    </li>
  {% endfor %}
  </ul>  

{% endblock content_area %}
