{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - {{ object.sector.title }} Goal {{ object.goal_num }}{% endblock %}

{% block title_area %}
  <div class="sector-icon-header">
    <img src="{% static 'plan/icons/' %}sector-icon-{{ object.sector.slug }}.png">
    <h4 class="crumbs"><a href="{% url 'plan:sector_list' %}">The Plan</a> &rarr; <a href="{% url 'plan:sector_detail' object.sector.slug %}">Sector</a></h4>
    <h1>{{ object.sector.title }}</h1>
  </div>
{% endblock title_area %}

{% block content_area %}

<div class="row">

  <h2 class="bar green">Goal {{ object.goal_num }}</h2>

  <div class="narrow-column">

    <h2 class="pullquote green-head">{{ object.description|safe }}</h2>

    <div class="pic-caption">
    <!--/ Don, image path probably needs fixing -->
      <img src="{% static 'stories/fullpics/' %}Page{{ object.image_name }}.jpg">
      <p>Image courtesy of [tbd] </p>
    </div>   

  </div><!--/narrow-column-->

  <div class="wide-column">

    {{ object.first_para|safe }}

    <details>
      <summary class="read-more">more....</summary>
        {{ object.remaining_paras|safe }}
    </details>

  </div><!--/wide-column-->
</div><!--/row-->

<div class="row">

  <h2 class="bar red" id="recommendations">Recommendations</h2>

  <ol class="rec-menu">
  {% for rec in object.rec_list %}
    <li><a href="javascript:void(0)" class="expander-trigger expander-hidden">{{ rec.goal.goal_num }}.{{ rec.rec_num }} {{ rec.description|safe }}</a>

      <ol class="expander-content">
        <li class="action-head">Actions:</li>

        {% for action in rec.action_list %}
          <li>
            <a href="{% url 'plan:action_detail' action.id %}">
              {{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }} 
              {{ action.description|safe }}
            </a>
          </li>
        {% endfor %} {# end action list #}
      </ol>
    </li>
  {% endfor %} {# end recommendation list #}
  </ol>

</div><!--/row-->

{% endblock content_area %}
