{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - Recommendation {{ object.goal.sector.id }}.{{ object.goal.goal_num }}.{{ object.rec_num }}{% endblock %}

{% block breadcrumbs %}
<a href="/plan/">Plan</a> |
<a href="{% url 'plan:sector_detail' object.goal.sector.slug %}">{{ object.goal.sector.title }}</a> |
<a href="{% url 'plan:goal_detail' object.goal.id %}">Goal {{ object.goal.goal_num }}:</a> {{ object.goal.short_description }} 
{% endblock breadcrumbs %}

{% block content_area %}
<h1>{{ object.goal.sector.title }} Recommenation {{ object.goal.goal_num }}.{{ object.rec_num }} </h1>
<h4>{{ object.description }} </h4>


<h3>Actions:</h3>
<table>
  <tr>
    <th>num</th>
    <th>Description</th>
    <th>Tags</th>
    <th>Related</th>
    <th>Responsible</th>
    <th>Stakeholder</th>
  </tr>
  {% for action in object.action_list %}
  <tr>
    <td>
      <a href="{% url 'plan:action_detail' action.id %}">
    {{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }}</a>
    </td>
    <td>{{ action.description|safe }}</td>
    <td>
      {% for tag in action.tags.all %}
        {{ tag.slug }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </td>
    <td>{{ action.related }}</td>
    <td>{{ action.responsible }}</td>
    <td>{{ action.stakeholder }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content_area %}
