{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - Recommendation {{ object.goal.sector.id }}.{{ object.goal.goal_num }}.{{ object.rec_num }}{% endblock %}

{% block breadcrumbs %}
<a href="/plan/">Plan</a> |
<a href="{% url 'plan:sector_detail' object.goal.sector.slug %}">{{ object.goal.sector.title }}</a> </br>
<a href="{% url 'plan:goal_detail' object.goal.id %}">Goal:</a> {{ object.goal.short_description }} 
{% endblock breadcrumbs %}

{% block content_area %}
<h1>Recommenation {{ object.goal.sector.id }}.{{ object.goal.goal_num }}.{{ object.rec_num }} </h1>
<h2>{{ object.description }} </h2>

<h4>Meta Info:</h4>
<dl>
  <dt>Background:</dt>
  <dd>{{ object.background }}</dd>
  <dt>Progress:</dt>
  <dd>{{ object.progress }}</dd>
  <dt>Organization:</dt>
  <dd>[use stakeholder data?]</dd>
  <dt>Metrics:</dt>
  <dd>{{ object.metrics }}</dd>
</dl>

<h4>Legacy notes:</h4>
<dl>
  <dt>Related:</dt>
  <dd>{{ object.relatd }}</dd>
  <dt>Responsible:</dt> <dd>{{ object.responsible }}</dd>
  <dt>Stakeholder:</dt>
  <dd>{{ object.relatd }}</dd>
</dl>

<h3>Actions:</h3>
<table>
  <tr>
    <th>id</th>
    <th>num</th>
    <th>Description</th>
    <th>Tags</th>
    <th>Related</th>
    <th>Responsible</th>
    <th>Stakeholder</th>
  </tr>
  {% for action in object.action_list %}
  <tr>
    <td>{{ action.id }}</td>
    <td>
      <a href="{% url 'plan:action_detail' action.id %}">
    {{ action.rec.goal.sector.id }}.{{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }}</a>
    </td>
    <td>{{ action.description|safe }}</td>
    <td>
      {% for tag in action.tags.all %}
        {{ tag.slug }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </td>
    <td>{{ action.related }}</td>
    <td>{{ action.responsible }}</td>
    <td>{{ action.stakeholder }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content_area %}
