{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Actions{% endblock %}

{% block title_area %}
  <h4 class="crumbs"><a href="{% url 'plan:sector_list' %}">The Plan</a></h4>
  <h1>Search the Plan's Action Items</h1>
{% endblock title_area %}

{% block content_area %}
  <!-- <form action="{{ request.get_full_path }}" method="GET" name="menu"> -->
  <form action="{% url 'plan:search_result_list' %}" method="GET" id="search-form" name="menu">
    {# csrf_token #} 
    {# JS for item selection will change method to post (and will change action) #}
    <input type="hidden" name="page" value="{{ page_number }}"/>


    <div class="narrow-column">

    <h4 class="red bar">Keyword Search</h4>

    <input type="search" name="q" value="{{ form.q.value }}" id="id_q" 
      placeholder="Search actions" class="search-field"/>
      
    <input type="submit" value="Go" />
    <p id="clear"><a href="#">clear search</a></p>

    <h4 class="red bar">Refine Your Search</h4>


    <section class="search-controls">

      <div class="control-box">
        <h4 class="red-head" id="by-tag">By Tag</h4>
        <div class="control-box--list short-list">
          {{ form.tags }}
        </div><!-- /control-box--list  /short-list -->
        <p class="control-box--more">show more</p>
        <p class="control-box--fewer hidden">show fewer</p>
      </div>

      <div class="control-box">
        <h4 class="red-head">By Sector</h4>
        <div class="control-box--list short-list">
          {{ form.secs }}
        </div><!-- /control-box--list  /short-list -->
        <p class="control-box--more">show more</p>
        <p class="control-box--fewer hidden">show fewer</p>
      </div><!-- /show-more -->

      <div class="control-box">
        <h4 class="red-head">By Organization</h4>
        <div class="control-box--list short-list">
          {{ form.orgs }}
        </div><!-- /control-box--list  /short-list -->
        {% if form.orgs|length > 5 %} 
          <p class="control-box--more">show more</p>
          <p class="control-box--fewer hidden">show fewer</p>
        {% endif %}
      </div>

    </section>


    </div><!--/narrow-column-->

    <div class="wide-column" id="results">

      {% include "plan/_search_result_list.html" %}

    </div><!--/wide-column-->

  </form>
{% endblock content_area %}
