{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Actions{% endblock %}

{% block title_area %}
      <h1>Actions</h1>
      <h2 class="pullquote">Search</h2>
{% endblock title_area %}

{% block content_area %}
  <form action="{{ request.get_full_path }}" method="GET" name="menu">
  {# csrf_token #} 
  {# JS for item selection will change method to post (and will change action) #}
    <input type="hidden" name="page" value="{{ page_number }}"/>


    <div class="narrow-column">

      <h2 class="bar green">Search Criteria</h2>

    <input type="search" name="q" value="{{ form.q.value }}" id="id_q" 
      placeholder="Search actions" class="search-field"/>
      
    <input type="submit" value="Go" />
    <p id="clear"><a href="#">clear search</a></p>

    <h2 class="content-wrapper--head">Narrow Your View
      {# if form.q.value #}
        <!-- Search -->
      {# else #}
        <!-- View -->
      {# endif #}
    </h2>
    <nav>
      <h3>By Sector</h3>
      {{ form.secs }}

      <h3>By Tags</h3>
      {{ form.tags }}

      <h3>By Organizations</h3>
      {{ form.orgs }}

    </nav>

    </div><!--/narrow-column-->

    <div class="wide-column">

      <h2>
        {{ result_count }} Actions in this view
        {# if form.q.value #}
          <!-- Actions found matching your search -->
        {# else #}
          <!-- Actions in this view -->
        {# endif #}
      </h2>

      <ul class="story-menu"> 
        {% for action in object_list %}
          <li>
            <a href="{% url 'plan:action_detail' action.id %}">
              {{ action.rec.goal.sector.title }} {{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }}</a>
              {{ action.description|safe }}
            
          </li>
        {% endfor %} {# end action list #}
      </ul>

      {% if is_paginated %}
        {# JavaScript will change class="page-nav" click to form submission #}

      <nav id="paging">
        <ul class="previous">
          {% if page_obj.has_previous %}
            <li class="page-nav prev-link">
              <a href="?page={{ page_obj.previous_page_number }}">&lang; prev</a>
            </li>
          {% else %}
            <li class="page-nav--disabled prev-link">&lang; prev</li>
          {% endif %}
        </ul>


        <ul class="page-numbers">
          {% for page_number in paginator.page_range %}
            {% if page_number = page_obj.number %}
              <li class="page-nav--selected">{{ page_number }}</li>
            {% else %}
              <li class="page-nav">
                <a href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <ul class="next">
          {% if page_obj.has_next %}
            <li class="page-nav next-link">
              <a href="?page={{ page_obj.next_page_number }}">next &rang;</a>
            </li>
          {% else %}
            <li class="page-nav--disabled next-link">next &rang;</li>
          {% endif %}

        </ul>
      </nav><!--/paging -->

      {% endif %}

    </form>


    </div><!--/wide-column-->

{% endblock content_area %}
