{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan{% endblock %}

{% block title_area %}
  <h1>The Plan</h1>
  <h2 class="pullquote">Massachusetts Local Food Action Plan</h2>

{% endblock title_area %}

{% block content_area %}

  <div class="row">

    <div class="narrow-column">
      <img src="images/New-Logo-Wide-300x112.png">
    </div><!--/narrow-column-->

    <div class="wide-column">

      <h2 class="bar red">About the Plan</h2>
      {{ object_list.0.menu.first_para|safe }}
    <details>
      <summary class="read-more">more....</summary>
        {{ object_list.0.menu.remaining_paras|safe }}
    </details>

    </div><!--/wide-column-->

  </div><!--/row-->

  <div class="row">

    <div class="narrow-column">

      <h2 class="bar red">Download/Print</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <ul>
        <li><a href="#">Full Plan</a> (17 MB PDF)</li>
        <li><a href="#">Plan Summary</a> (0.9 MB PDF)</li>
        <li><a href="#">Plan Goal and Recommendations</a> (3 MB PDF)</li>
      </ul>

    </div><!--/narrow-column-->

    <div class="narrow-column">

      <h2 class="bar green">Browse</h2>
        <ul class="sector-icons-grid"> 
        {% for object in object_list %}
          <li class="grid-item">
            <a href="{% url 'plan:sector_detail' object.slug %}"><img src="{% static 'plan/icons/' %}sector-icon-{{ object.slug }}.png">{{ object.title|safe }}</a>
          </li>
        {% endfor %}
        </ul>

    </div><!--/narrow-column-->

    <div class="narrow-column">

      <h2 class="bar blue">Search</h2>
      <p>Enter a key word here to search the Plan or link to the full search page for more search features.</p>

      <form id="mfsc-plan-search" class="plan-search" data-action="/search" action="{% url 'plan:search_list' %}" method="GET">

        <label for="search-keywords"><input type="search" name="q" value="" id="id_q" 
            placeholder="Search actions" class="search-field"/>

        </label>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

        <p><button>Quick Search</button> <a href="{% url 'plan:search_list' %}">Go to Full Search</a></p>
      </form>

    </div><!--/narrow-column-->

  </div><!--/row-->

{% endblock content_area %}
