{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - {{ object.title }}{% endblock %}

{% block breadcrumbs %}
<a href="/plan/">Plan</a>  | <a href="/plan/internal/">Internal View</a>
{% endblock breadcrumbs %}

{% block content_area %}
  <h1>{{ object.title }} </h1>

  
  <ul>
  {% for goal in object.goal_list %}
    <li>
      <strong>Goal:</strong> <a href="{% url 'plan:goal_detail' goal.id %}">
      {{ goal.goal_num }}</a>: {{ goal.description|safe }}
      <ul>
      {% for rec in goal.rec_list %}
        <li>
          <strong>Recommendation:</strong> <a href="{% url 'plan:rec_detail' rec.id %}">
          {{ rec.goal.goal_num }}.{{ rec.rec_num }}</a>: {{ rec.description|safe }}


          <table>
            <tr>
              <th>Action</th>
              <th>Description</th>
              <th>Tags</th>
            </tr>
            {% for action in rec.action_list %}
            <tr>
              <td>
              <a href="{% url 'plan:action_detail' action.id %}">
              {{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }}</a>
              </td>
              <td>{{ action.description|safe }}</td>
              <td>
                {% for tag in action.tags.all %}
                  {{ tag.slug }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </table>



        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>  

{% endblock content_area %}
