{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - {{ object.title }}{% endblock %}

{% block title_area %}
  <div class="sector-icon-header">
    <img src="{% static 'plan/icons/' %}sector-icon-{{ object.slug }}.png">
    <h4 class="crumbs"><a href="{% url 'plan:sector_list' %}">The Plan</a></h4>
    <h1>{{ object.title }}</h1>
  </div>
{% endblock title_area %}

{% block content_area %}
 
    <div class="row">

      <div class="narrow-column">

        <h2 class="bar green">Goals</h2>

        <ol class="goals-list"> <!-- ul ? -->
        {% for goal in object.goal_list %}
          <li><span class="number">{{ goal.goal_num }}</span>
            <a href="{% url 'plan:goal_detail' goal.id %}">
             {{ goal.description|safe }}</a>
          </li>
        {% endfor %}
        </ol>  

      </div><!--/narrow-column-->

      <div class="wide-column">

        <div class="pic-caption">
          <img src="{% static 'plan/fullpics/' %}sector-{{ object.slug }}.jpg">
          <p>{{ object.credit|safe }} </p>
        </div>

        <div class="from-wysiwyg">
          {# leading <p> is stripped by code, and hard-wired here #} 
          <p><span class="lead-sentence green-head">{{ object.first_sentence|safe }}</span>
          {{ object.remaining_text|safe }}
        </div>

      </div><!--/wide-column-->
      
    </div><!--/row-->

{% endblock content_area %}
