{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan{% endblock %}

{% block content_area %}


  <h1>Plan Sectors</h1>


  <table>
  {% for object in object_list %}
  	<tr>
      <td>{{ object.id }}</td>
      <td><a href="{% url 'plan:sector_detail' object.slug %}">browse</a></td>
      <td><a href="{% url 'plan:sector_table' object.slug %}">table</a></td>
      <td>{{ object.title|safe }}</td>
  	</tr>
  {% endfor %}
  </table>


<p><a href="{% url 'plan:tag_list' %}">Areas of Interest</a></p>

{% endblock content_area %}
