{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MFSC Plan - Areas of Interest - {{ object.title }}{% endblock %}

{% block breadcrumbs %}
<a href="/plan/">Plan</a> | <a href="/plan/tag/">Areas of Interest</a> 
{% endblock breadcrumbs %}

{% block content_area %}
<h1>Actions related to {{ object.title }} </h1>


<h3>Actions:</h3>
<table>
  <tr>
    <th>Sector</th>
    <th>Goal</th>
    <th>Recommendation</th>
    <th>Action</th>
    <th>Description</th>
  </tr>
  {% for action in object.action_list %}
  <tr>
    <td>
      {{ action.rec.goal.sector.slug }}
    </td>
    <td>{{ action.rec.goal.goal_num }} 
      <a href="{% url 'plan:goal_detail' action.rec.goal.id %}">
      {{ action.rec.goal.short_description }}</a>
    </td>
    <td>{{ action.rec.rec_num }}
      <a href="{% url 'plan:rec_detail' action.rec.id %}">
      {{ action.rec.short_description }}</a>
    </td>
    <td>
      <a href="{% url 'plan:action_detail' action.id %}">
    {{ action.rec.goal.goal_num }}.{{ action.rec.rec_num }}.{{ action.action_num }}</a>
    </td>
    <td>{{ action.description|safe }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content_area %}
